<md-toolbar>
	<div class="md-toolbar-tools">
		<img class="logo" src="assets/images/Todos_icon.png">
		<h2>
			Dawn's Todos
		</h2>

		<span flex></span>

		<md-button aria-label="Close App" class="md-icon-button" ng-click="app.closeApp()">
			<md-icon class="material-icons">close</md-icon>
		</md-button>

		<!-- <md-nav-bar aria-label="Nav Bar">
			<md-nav-item md-nav-href="#Old" name="old">Old</md-nav-item>
		</md-nav-bar> -->
		<md-button class="md-accent md-fab md-mini" aria-label="Menu" ng-click="app.showMenu()">
			<md-icon class="material-icons">menu</md-icon>
		</md-button>
	</div>


</md-toolbar>

